@mixin vars {
    --background-color: #2a2e30;
    --primary-color: #007eaf;
    --primary-hover: #008dc5;
    --text: rgb(224, 224, 224);
    --text-on-primary: white;

    --secondary1: #00a113;
    --secondary2: #be0000;
    --secondary3: #8f8100;
    --secondary4: #8536F7;
}