@mixin vars {
    --background-color: white;
    --primary-color: #0250aa;
    --text: black;
    --text-on-primary: white;

    --secondary1: #008d10;
    --secondary2: #ce0707;
    --secondary3: #8f8100;
    --secondary4: #6919d8;
}